@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import "tailwindcss";

        * {
            font-family: "Bubblegum Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .nav-link {
            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 0%;
                background: #3b82f6;
                transition: width 0.4s ease-in;
            }

            &:hover::after {
                width: 100%;
            }
        }

        .fade-text {
            position: absolute;
            opacity: 0;
            animation: fadeLoop 12s infinite;
        }

        .fade-text:nth-child(1) {
            animation-delay: 0s;
        }

        .fade-text:nth-child(2) {
            animation-delay: 3s;
        }

        .fade-text:nth-child(3) {
            animation-delay: 6s;
        }

        .fade-text:nth-child(4) {
            animation-delay: 9s;
        }

        @keyframes fadeLoop {
            0% {
                opacity: 0;
            }

            5% {
                opacity: 1;
            }

            25% {
                opacity: 1;
            }

            30% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        .my-skills {
            .skill-box {
                transition: background 0.3s ease-in-out;
                cursor: pointer;

                &:hover img {
                    transform: scale(0.9);
                }

                &:hover .skill-name {
                    color: #fff;
                }

                &:hover {
                    background: #4384ec;
                }
            }

            img {
                width: 100%;
                height: auto;
                max-width: 100px;
                border-radius: 50%;
                transition: transform 0.3s ease-in-out;
            }
        }

        .projects {
            .project-box {
                justify-content: space-between;

                .img-box {
                    max-width: 500px;
                }

                .project-info {
                    padding: 20px 0;
                    background-color: #0426a0;
                }

                .layer {
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                }

                &:hover .layer {
                    opacity: 0.9;
                }
            }
        }
 